.app-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f8ff;
  text-align: center;
}

h1 {
  color: #333;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0056b3;
}

.weather-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature,
.humidity {
  font-size: 1.2em;
  margin: 10px 0;
}

.icon img {
  width: 100px;
  height: 100px;
}

.error-message {
  color: red;
  font-weight: bold;
}
.loading-message {
  font-weight: bold;
  font-size: 30px;
}
