.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transition: all 0.5s ease-in;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.light button {
  background-color: #414345;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.light button:hover {
  background-color: #0056b3;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark button {
  background-color: #ffc107;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.dark button:hover {
  background-color: #ffb700;
}

.count-container {
  margin: 20px 0;
}

.toggle-container {
  margin: 20px 0;
}
